/* SOME TAG WRAPPERS */
div.bb_box {
	width: auto;
	display: block;
	margin: 5px;
	padding: 0px;
}

div.bb_tag_head_strip {
	line-height: 20px;
	padding: 4px 4px 4px 8px;
	font-weight: bold;
	font-family: "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;;
}

/* TAGS */
div.bb_tag_quote {
	width: auto;
	display: block;
	margin: 0px;
	padding: 5px;
	background: #f9fcff;
	border: 1px solid #e4e4e4;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	overflow: auto;
}

div.bb_tag_code {
	width: 100%;
	display: block;
	margin: 0;
	padding: 0;
	overflow: auto;

	background: #f7faef url(../images/bb_codetag_background.png) repeat;
	border: 1px solid #e4e4e4;
}

pre.bb_tag_code {
	width: 100%;
	display: block;
	margin: 0px 10px;
	padding: 0 10px;
	
	font: small/16px "Andale Mono", mono, Courier, "Courier New";
	white-space: pre;
}

span.bb_tag_style_title {
	font: bold large "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

span.bb_tag_style_heading {
	font: bold medium "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

span.bb_tag_style_sub_section {
	font: bold small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

span.bb_tag_style_body {
	font: small "Helvetica Neue", Helvetica, Arial, Geneva, sans-serif;
}

img.bb_tag_img {
	border: 0;
	margin: 5px;
	padding: 0px;
}
/* **********************************
 * COMMON BB EDITOR WIDGET
 * *********************************/
div.bb_editor_widget {
	display: inline-block;
	border: 1px solid #a6a6a6;
	padding: 0px;
}

textarea.widget_bb_editor_textarea {
	border: none;	
}

div.bb_editor_widget div.tool_strip_container {
	background-color: #f2f5f5;
	font: small Georgia, "Times New Roman", Times, serif;
}

div.bb_editor_widget div.collapse {
	visibility: collapse;
}

div.bb_editor_widget div.tool_strip {
	height: 26px;
	vertical-align: middle;
	border-bottom: 1px solid #e3e3e3;
	padding: 1px 5px;
}

button.bb_button {
	display: inline-block;
	height: 20px;
	margin: 3px 5px;
	padding: 2px 4px;
	
	border: 1px solid gray;
    border-radius:2px;

	background: url(../images/BBCodeEditor/gray_button.png) repeat-x;
	
	text-align: center;
	vertical-align: middle;
}

button.bb_button_mouse_down {
	border: 1px dashed gray;
}

/* This is for subscript & superscript parts of the button labels */
.button_script {
	font-size: x-small;
}

select.bb_select {
	display: inline-block;
	height: 21px;
	margin: 3px 5px;
	padding: 2px 4px;
	
	border: 1px solid gray;
	background: url(../images/BBCodeEditor/gray_button.png) repeat-x;
	
	vertical-align: middle;
}