div.bb_wrapper > pre,
div.bb_wrapper pre {
	border:none;
	background:none;
	white-space:pre-wrap;
	margin-top:0px;
	margin-bottom:0px;
}

div.bb_wrapper blockquote {
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

div.bb_wrapper blockquote > pre {
	border:none;
	background:none;
	white-space:pre-wrap;
	
	margin-top:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}

/*
div.bb_wrapper pre.prettyprint {
	border:1px solid #eee;
	background-color:#444;
}
*/

div.bb_wrapper div.bbtag_code {
	/*border:2px solid red;*/
}

div.bb_wrapper div.bbtag_code > pre {
	margin:0px;
	padding:0px;
}
div.bb_wrapper div.bbtag_code > pre > code {
	background-color:#333;	
}
div.bb_wrapper div.bbtag_code > ul.nav-tabs {
	margin-left:10px;
	margin-right:10px;
	margin-bottom:0px;
}

div.bb_wrapper div.bbtag_code > ul.nav-tabs > li > a {
	background-color:#ddd;
	color:black;
}

div.bb_wrapper div.bbtag_code > ul.nav-tabs > li.active > a {
	background-color:#333;
	color:white;
}

div.bb_wrapper .bb_invalid_tag {
	color:red;
}

/* **********************************
 * COMMON BB EDITOR WIDGET
 * *********************************/
div.bb_editor_widget {
	display: inline-block;
	border: 1px solid #a6a6a6;
	padding: 0px;
}

textarea.widget_bb_editor_textarea {
	border: none;	
}

div.bb_editor_widget div.tool_strip_container {
	background-color: #f2f5f5;
	font: small Georgia, "Times New Roman", Times, serif;
}

div.bb_editor_widget div.collapse {
	visibility: collapse;
}

div.bb_editor_widget div.tool_strip {
	height: 26px;
	vertical-align: middle;
	border-bottom: 1px solid #e3e3e3;
	padding: 1px 5px;
}

button.bb_button {
	display: inline-block;
	height: 20px;
	margin: 3px 5px;
	padding: 2px 4px;
	
	border: 1px solid gray;
    border-radius:2px;

	background: url(../images/BBCodeEditor/gray_button.png) repeat-x;
	
	text-align: center;
	vertical-align: middle;
}

button.bb_button_mouse_down {
	border: 1px dashed gray;
}

/* This is for subscript & superscript parts of the button labels */
.button_script {
	font-size: x-small;
}

select.bb_select {
	display: inline-block;
	height: 21px;
	margin: 3px 5px;
	padding: 2px 4px;
	
	border: 1px solid gray;
	background: url(../images/BBCodeEditor/gray_button.png) repeat-x;
	
	vertical-align: middle;
}