div.bb_quote {
	width: 95%;
	display: block;
	margin: 5px;
	padding: 5px;
	background: #f9fcff;
	border: 1px solid silver;
	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;	
	overflow: scroll;
}

div.bb_code {
	width: 95%;
	display: block;
	margin: 5px;		
	padding: 3px 0 5px;

	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	background-color: silver;
}
pre.bb_code {
	padding: 0 5px 3px;

	background: #f7faef url(../images/bb_codetag_background.png);
	border: 1px solid silver;

	font: small/16px "Andale Mono", mono, Courier, "Courier New";
	overflow: scroll;
	white-space: pre;
}

span.bb_style_title {
	font: bold medium Georgia, "Times New Roman", Times, serif;	
}

span.bb_style_heading {
	font: bold small Georgia, "Times New Roman", Times, serif;
}

span.bb_style_sub_section {
	font: bold small Georgia, "Times New Roman", Times, serif;
}

span.bb_style_body {
	font: x-small Georgia, "Times New Roman", Times, serif;
}

img.bb_image {
	border: 0;
	margin: 5px;
	padding: 0px;
}
